@import "tailwindcss";

@theme {
  /* Ensure there are no typos here */

  /* Colors */
  --color-black: #0f0e11;
  --color-primary: #ff9d52;
  --color-card: #1a1a1f;

  --background-image: url("/images/line.png");
}

@utility font-mono {
  font-family: var(--font-lekton), monospace;
}

@utility font-cursive {
  font-family: var(--font-luckiest), cursive;
}

@utility font-heavy {
  font-family: var(--font-hiragino), heavy;
}

body {
  /* Even if you don't want Lekton here, keep a default font */

  background-color: var(--color-black);
  background-image: var(--background-image);
  color: white;
  width: 100dvw;
  overflow-x: hidden;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}
